body{

background:black;
color:#00ff9c;
font-family:Courier New;
margin:0;

}

h1{

text-align:center;
border-bottom:1px solid #00ff9c;
padding:10px;

}

.grid{

display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
padding:20px;

}

.panel{

border:1px solid #00ff9c;
padding:15px;
background:rgba(0,0,0,0.8);
box-shadow:0 0 10px #00ff9c;

}

#map{

height:300px;

}

#terminal{

height:200px;
overflow:auto;

}